@using Humanizer;

@model NBATracker.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@foreach (Game game in Model.TodaysGames)
{
    <div>
        <h2>@game.AwayTeam.TriCode @@ @game.HomeTeam.TriCode</h2>
        <h2>@game.Clock</h2>
        <h2>@game.StartTimeEastern - @game.StartTimeUTC.Humanize()</h2>
        <h2></h2>
        <hr />
    </div>
}
